@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #008fd5;
  --color-secondary: #0c2139;
}
*{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: #E7E7E7;
}